<ion-header>
  <ion-toolbar>
    <ion-title>chapter5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1> Chapter 5  - Charlotte </h1>
   <p> 
    THE NIGHT seemed long. Wilbur's stomach was empty and his mind was full. And
    when your stomach is empty and your mind
    is full, it's always hard to sleep.
    A dozen times during the night Wilbur woke and
    stared into the blackness, listening to the sounds and
    trying to figure out what time it was. A bam is never
    perfectly quiet. Even at midnight there is usually something stirring.
    The first time he woke, he heard Templeton gnawing a hole in the grain bin. Templeton's teeth scraped
    loudly against the wood and made quite a racket. "That
    crazy rat!" thought Wilbur. "Why does he have to
    stay up all night, grinding his clashers and destroying
    people's property? Why can't he go to sleep, like any
    decent animal?"
    The second time Wilbur woke, he heard the goose
    turning on her nest and chuckling to herself.
    "What time is it? " whispered Wilbur to the goose. 
   </p>

   <p>
    "Probably-obably-obably about half-past eleven,"
    said the goose. "Why aren't you asleep, Wilbur?"
    "Too many things on my mind," said Wilbur.
    "Well," said the goose, "that's not my trouble. I have
    nothing at all on my mind, but I've too many things
    under my behind. Have you ever tried to sleep while
    sitting on eight eggs?"
    "No," replied Wilbur. "I suppose it is uncomfortable. How long does it take a goose egg to hatch?"
    "Approximately-oxirnately thirty days, all told," answered the goose. "But I cheat a little. On warm afternoons, I just pull a little straw over the eggs and go out
    for a walk."
    Wilbur yawned and went back to sleep. In his dreams
    he heard again the voice saying, "I'll be a friend to you.
    Go to sleep--you'll see me in the morning."
    About half an hour before dawn. Wilbur woke and
    listened. The barn was still dark. The sheep lay motionless. Even the goose was quiet. Overhead, on the main
    floor, nothing stirred: the cows were resting, the horses
    dozed. Templeton had quit work and gone off somewhere on an errand. The only sound was a slight scraping noise from the rooftop, where the weather-vane
    swung back and fonh. Wilbur loved the barn when it
    was like this-calm and quiet, waiting for light.
    "Day is almost here," he thought.
    Through a small window, a faint gleam appeared. 
   </p>

   <h3> 6</h3>

   <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']"> Page 5</ion-button>

   <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>

</ion-content>
