<ion-header>
  <ion-toolbar>
    <ion-title>chapter4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1> Chapter 4  - Loneliness </h1>
   <p> 
    THE NEXT day was rainy and dark. Rain
    fell on the roof of the bam and dripped
    steadily from the eaves. Rain fell in the
    barnyard and ran in crooked courses down
    into the lane where thistles and pigweed grew. Rain
    spattered against .Mrs. Zuckerman's kitchen windows
    and came gushing out of the downspouts. Rain fell on
    the backs of the sheep as they grazed in the meadow.
    When the sheep tired of standing in the rain, they
    walked slowly up the lane and into the fold.
    Rain upset Wilbur's plans. Wilbur had planned to
    go out, this day, and dig a new hole in his yard. He had
    other plans, too. His plans for the day went something
    like this:
    Breakfast at six-thiny. Skim milk, crusts, middlings,
    bits of doughnuts, wheat cakes with drops of maple
    syrup sticking to them, potato skins, leftover custard
    pudding with raisins, and bits of Shredded Wheat.
    Breakfast would be finished at seven.
    From seven to eight, Wilbur planned to have a talk 
   </p>

   <p>
    with Templeton, the rat that lived under his trough.
    Talking with Templeton was not the most interesting
    occupation in the world but it was better than nothing.
    From eight to nine, Wilbur planned to take a nap
    outdoors in the sun.
    From nine to eleven he planned to dig a hole, or
    trench, and possibly find something good to eat buried
    in the dirt.
    From eleven to twelve he planned to stand still and
    watch flies on the boards, watch bees in the clover, and
    watch swallows in the air.
    Twelve o'clock-lunchtime. Middlings, warm
    water, apple parings, meat gravy, carrot scrapings, meat
    scraps, stale hominy, and the wrapper off a package of
    cheese. Lunch would be over at one.
    From one to two, Wilbur planned to sleep.
    From two to three, he planned to scratch itchy places
    by rubbing against the fence.
    From three to four, he planned to stand perfectly
    still and think of what it was like to be alive, and to
    wait for Fern.
    At four would come supper. Skim milk, provender,
    leftover sandwich from Lurvy's lunchbox, prune skins,
    a morsel of this, a bit of that, fried potatoes, marmalade
    drippings, a little more of this, a little more of that, a
    piece of baked apple, a scrap of upsidedown cake.
    Wilbur had gone to sleep thinking about these plans. 
   </p>

   <h3> 5</h3>

   <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']"> Previous Chapter</ion-button>
   <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter5']"> Next Chapter</ion-button>
   <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>

</ion-content>
