<ion-header>
  <ion-toolbar>
    <ion-title>Chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1> Before Breakfast </h1>
  <p> 
        HERE'S Papa going with that ax?"
    said Fern to her mother as they
    were setting the table for breakfast.
    "Out to the hoghouse," replied
    Mrs. Arable. "Some pigs were born last night."
    "I don't see why he needs an ax," continued Fern,
    who was only eight.
    "Well," said her mother, "one of the pigs is a runt.
    It's very small and weak, and it will never amount to
    anything. So your father has decided to do away with
    it."
</p>

  <p>
      "Do away with it?" shrieked Fern. "You mean kill
      it? Just because it's smaller than the others?"
      Mrs. Arable put a pitcher of cream on the table.
      "Don't yell, Fern!" she said. "Your father is right. The
      pig would probably die anyway."
      Fern pushed a chair out of the way and ran outdoors.
      The grass was wet and the earth smelled of springtime.
      Fern's sneakers were sopping by the time she caught
      up. with her father.
</p>


<p>
  "Please don't kill it!" she sobbed. "It's unfair."
  Mr. Arable stopped walking.
  "Fern," he said gently, "you will have to learn to
  control yourself."
  "Control myself?" yelled Fem. "This is a matter of
  life and death, and you talk about controlling myself." 
</p>

  <h3> 1 </h3>

    <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>

    <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Page 2</ion-button>

</ion-content>
