<ion-header>
  <ion-toolbar>
    <ion-title>chapter3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1> Chapter 3  - Escape </h1>
   <p> 
      THE BARN was very large. It was very old.
  It smelled of hay and it smelled of manure.
  It smelled of the perspiration of tired horses
  and the wonderful sweet breath of patient
  cows. It often had a sort of peaceful smell-as though
  nothing bad could happen ever again in the world. It
  smelled of grain and of harness dressing and of axle
  grease and of rubber boots and of new rope. And
  whenever the cat was given a fish-head to eat, the barn
  would smell of fish. But mostly it smelled of hay, for
  there was always hay in the great loft up overhead.
  And there was always hay being pitched down to the
  cows and the horses and the sheep.
  The bam was pleasantly warm in winter when the
  animals spent most of their time indoors, and it was
  pleasantly cool in summer when the big doors stood
  wide open to the breeze. The bam had stalls on the
  main floor for the work horses, tie-ups on the main
  floor for the cows, a sheepfold down below for the
  sheep, a pigpen down below for Wilbur, and it was 
   </p>

   <p>
full of all sons of things that you find in barns: ladders,
grindstones, pitch forks, monkey wrenches, scythes,
lawn mowers, snow shovels, ax handles, milk pails,
water buckets, empty grain sacks, and rusty rat traps.
It was the kind of barn that swallows like to build their
nests in. It was the kind of barn that children like to
play in. And the whole thing was owned by Fern's
uncle, Mr. Horner L. Zuckerman.
Wilbur's new home was in the lower part of the
barn, directly underneath the cows. Mr. Zuckerman
knew that a manure pile is a good place to keep a young
pig. Pigs need warmth, and it was warm and comfonable down there in the barn cellar on the south
si4e.
Fern came almost every day to visit him. She found 
Escape IS
an old milking stool that had been discarded, and she
placed the stool in the sheepfold next to Wilbur's pen.
Here she sat quietly during the long afternoons,
thinking and listening and watching Wilbur. The
sheep soon got to know her and trust her. So did the
geese, who lived with the sheep. All the animals trusted
her, she was so quiet and friendly. Mr. Zuckerman did
not allow her to take Wilbur out, and he did not allow
   </p>

   <h3> 4</h3>

   <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']"> Previous Chapter</ion-button>

   <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']">Next Chapter</ion-button>
   <ion-button color="secondary" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>


</ion-content>
